@model IEnumerable<ETicket.Domain.DomainModels.Ticket>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Available Tickets</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary m-2">Add new Ticket</a>
</p>


<div class="container">
    <div class="row">
        <div class="col-10 text-right">
            <p>Filter By: </p>
        </div>
        <div class="col-2">
            <a asp-action="SortTicketsByDateAsc"><i class="fas fa-sort-up fa-2x"></i></a>
            <a asp-action="SortTicketsByDateDesc"><i class="fas fa-sort-down fa-2x"></i></a>
        </div>
    </div>
    <div class="row">
        @if (Model.ToList().Count < 1)
        {
            <div class="col-12">
                <h4>There are no tickets currently! Please check later!</h4>
            </div>
        }
        @foreach (var ticket in Model.ToList())
        {
            <div class="col-4 mt-2">
                <div class="card" style="width:20rem;height:52rem;">
                    <img class="card-img-top" style="height:28rem;" src="@ticket.MovieImage" alt="Movie Image">
                    <div class="card-body">
                        <h4 class="card-title text-center">@ticket.MovieTitle</h4>
                        <div class="row">
                            <div class="col-6 text-right" style="margin-right:-20px;">
                                <p><b>Category: </b></p>
                            </div>
                            <div class="col-6 text-left">
                                <p class="card-text">@ticket.MovieCategory</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 text-right" style="margin-right:-20px;">
                                <p><b>Description: </b></p>
                            </div>
                            <div class="col-6 text-left">
                                <p class="card-text">@ticket.Description</p>
                            </div>
                        </div>
                        <h6>Price:<b> $@ticket.Price</b></h6>
                        <h6>Date:<b> @ticket.Date</b></h6>
                        <div class="card-footer text-center">
                            <a asp-controller="Tickets" asp-action="AddToShoppingCart" asp-route-id="@ticket.Id" class="btn btn-primary">Add to Cart</a> <br />
                            <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.Id">Edit</a> <br />
                            <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id">Details</a> <br />
                            <a asp-controller="Tickets" asp-action="Delete" asp-route-id="@ticket.Id">Delete</a> <br />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>